<!-- Displays all the courses available in the system -->
{% extends 'navbar.html' %}

{% block main %}

<br />
  <h1>Course List</h1>
<br />

  <!-- for loop grabs the courses from the context dictionary and
  displays them in the format course_code - course_name - number of assignments -->

  	<div class="panel panel-primary">
  	  	<div class="panel-heading">
  	  		<div class="panel-title">
  	  			<span id="course_code"><span class="glyphicon glyphicon-qrcode"></span> Course Code</span>
  	  			<span id="course_name"><span class="glyphicon glyphicon-sort-by-alphabet"></span> Name</span>
				<span id="course_assignments"><span class="glyphicon glyphicon-book"></span> No. of Assignments</span>
  	  		</div>
  	  	</div>
	  	<div class="panel-body">
	  	<table class="table">
	  		{% for course in courses  %}
		  	<tr>
		  		<td>{{ course.course_code }}</td>
		  		<td>{{ course.course_name }}</td>
		  		<td>{{ course.assignments.count }}</td>
		  	</tr>
		  {% endfor %}	
	  	</table>
		  
	  	</div>
  	</div>

{% endblock %}
