<!-- Displays all the courses available in the system -->
{% extends 'navbar.html' %}

{% block main %}

<br />
  <h1>Course List</h1>
<br />

  <!-- for loop grabs the courses from the context dictionary and
  displays them in the format course_code - course_name - number of assignments -->
	<div class="panel panel-default">
	  	<table class="table">
	  		<tr id="blue_title">
	  			<th><span class="glyphicon glyphicon-qrcode"></span> Code</th>
	  			<th><span class="glyphicon glyphicon-sort-by-alphabet"></span> Name</th>
	  			<th><span class="glyphicon glyphicon-book"></span> Assignments</th>
	  		</tr>
	  		{% for course in courses  %}
		  	<tr>
		  		<td>{{ course.course_code }}</td>
		  		<td>{{ course.course_name }}</td>
		  		<td>{{ course.assignments.count }}</td>
		  	</tr>
		  {% endfor %}	
	</table>
  	</div>

	

	<br />
		 
{% endblock %}
