{% extends 'navbar.html' %}

{% block main %}
<br />

<h1>Assignment Submissions</h1>

<p>{{ sub_count }} submissions have been made out of a possible {{ student_count }}</p>

<div id="adminSubmissions">
<table cellpadding="10" class="table table-bordered">
  <thead>
    <th>Submission</th>
    <th>User</th>
    <th>Link</th>
  </thead>
    <tbody id="student_homepage_tbody">
  {% for sub in subs %}
    <tr>
    <td>{{ sub }}</td>
    <td>{{ sub.by }}</td>
    <td><a class="btn btn-primary" href="{% url 'submission' sub.submission_uuid %}">View submission</a></td>
    </tr>
  {% endfor %}
  </tbody>

</table>
</div>
{% endblock %}










