<!-- Template for assignment creation -->
{% extends 'navbar.html' %}

{% block main %}
<div id="assignmentCreation">

<h1>Create new {{ course.course_code }} Assignment</h1>

<form method="post" action="{% url 'generate_assignment' %}" enctype="multipart/form-data">
  <!-- generate csrf token and display form from context dictionary -->
  {% csrf_token %}
  
  <ul>
  {% if errors %}
    <h4>ERROR! There was something wrong with the data you've entered:</h4>
    {%for errType, message in errors.items %}
        <li>Error: {{ message }} </li>
    {% endfor %}
  {% endif %}
  </ul>

  {% for field in form %}
  <ul> 
    <li> {{ field.errors }} {{ field.label_tag }} {{ field }}</li> 
  </ul>
  {% endfor %}

  <ul>
  {% for field in testForm %}
    <li> {{ field.errors }} {{ field.label_tag }} {{ field }}</li> 
  {% endfor %}
  </ul> 
  <input type="submit" name="Submit" value="Submit" />
</form>

</div>
{% endblock %}
