<!-- Template for user creation -->
{% extends 'navbar.html' %}

{% block main %}

<!-- Display any errors from previous creation attempt -->
{% if error %}
<p id=error>{{ error }}</p>
{% endif%}


<form method="POST" action="/review/validateUser/">
  <!-- generate csrf token and display form from context dictionary -->
  {% csrf_token %}
  {% for field in form %}
  <p>
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
  </p>
  {% endfor %}
  <input type="submit" name="submit" value="Submit" />
</form>

{% endblock %}
