{% extends 'course.html' %}

{% block assignments %}

<h1>{{ course.course_code }} Assignments</h1>

{% if user.is_superuser %}
<h3><a href="{% url 'create_assignment' course.course_code %}">Create a new {{ course.course_code }} assignment</a></h3>
{% endif%}

{% if assignments %}
<ul>
  {% for assignment in assignments %}
  <li><a href="Assignment">{{ assignment.name }} - {{ assignment.submission_close_date }}</a></li>
  {% endfor %}
</ul>

{% else %}
<p><strong>No assignments</strong></p>
{% endif%}

{% if user.is_superuser %}
<h2>Settings</h2>
{% endif %}


{% endblock %}
