{% extends 'course.html' %}

{% block assignments %}
<div id="assignmentPane">
  <h1>{{ course.course_code }} Assignments</h1>

  {% if user.is_superuser %}
  <h3><a href="{% url 'create_assignment' course.course_code %}">Create a new {{ course.course_code }} assignment</a></h3>
  {% endif%}

  {% if assignments %}
  <table>
    <tr>
      <th>Assignment Name:</th>
      <th>Submission Open Date:</th>
      <th>Due Date</th>
    </tr>
    {% for assignment in assignments %}
    <tr>
      <td>{{ assignment.name}}</td>
      <td>{{ assignment.submission_open_date }}</td>
      <td>{{ assignment.submission_close_date }}</td>
    </tr>
    {% endfor %}
  {% else %}
  <p><strong>No assignments</strong></p>
  {% endif%}

  {% if user.is_superuser %}
  <h2>Settings</h2>
  {% endif %}

</div>
{% endblock %}
