{% extends 'sidebar.html' %}

{% block assignments %}

<!-- This page can only be called if an assignment exists, obviously -->
<h1>Submit {{ asmt.name }}</h1>

{% if user.is_superuser %}
<!-- Add stuff to allow superuser to edit assignment -->

{% endif%}

{% if user.is_superuser %}
<h2>Settings</h2>
{% endif %}

<form id="submit_assignment" method="post" action="">
    {% csrf_token %}
    {{ course.code_code }}
    {{ asmt.name }}
    <b> Repository URL </b><br>
    {{ form.submission_repository }}
    <input type="submit" value="Submit Assignment">
</form>

{% endblock %}
