<!-- Template for submitting assignments -->
{% extends 'navbar.html' %}
<div id="assignReviews">
  {% block main %}

  <!-- This page can only be called if an assignment exists, obviously -->
  <h1>Assign Reviews for {{ asmt.name }}</h1>

  <form id="assign_reviews" method="post" action="">
    {% csrf_token %}
    {{ course.code_code }}
    {{ asmt.name }}

    {% if errors %}
    <h3>Something Wrong:</h3>
    <h4>{{ errors }}</h4>
    {% endif %}
    
    <h3>Enter the number of submissions you want each student to review</h3>
    {{ form.reviews_per_student }}
    
    <h3>Enter the minimum number of annotations a student must make per submission.</h3>
    {{ form.min_annotations }}
    <br>
    <input type="submit" value="Assign Reviews">

    {% if errMsg %}
      <h3> ERROR! </h3>
      {{ errMsg }}
    {% endif %}
  </form>
</div>
{% endblock %}
