<!-- Template for showing a specific assignment's information -->
{% extends 'navbar.html' %}

  {% block main %}
<div id="assignmentView">
  <!-- This page can only be called if an assignment exists, obviously -->
  <!-- grabs the name of the current assignment -->
  <h1>{{ asmt.name }}</h1>
<div id="assignmentAdmin">
  {% if user.is_superuser %}
  <!-- Add stuff to allow superuser to edit assignment -->

  {% endif%}
  
  {% if user.is_superuser %}
  <h2>Settings</h2>
  {% endif %}

  {% if user.is_superuser or user.isStaff %}
    <h3>Assign students to review peer submissions:</h3>
    <a href="assign_reviews">
        <button>"Assign Reviews"</button>
    </a>
  {% endif %}
</div>
  <p><b>Submission Status: </b> Need to add submission status Check</p> 
  <p><b>Assignment due at: </b> {{ asmt.submission_close_date }}</p> 
  <p><b>Review opens at: </b> {{ asmt.review_open_date }}</p> 
  <p><b>Review closes at: </b> {{ asmt.review_close_date }}</p> 

  <!-- if the assignment is still open for submission this will be viewable -->
  {% if canSubmit %}
  <form action="submit/">
    <input type="submit" value="Submit Assignment">
  </form>
  {% else %}
  Submissions are closed now <br>
  {% endif %}

  <!-- shows the user their past submissions -->
  <!-- Sheldon, this may need to be made scrollable? -->
  {% if submissions %}
    Submimissions 
    <tr>
        <th>Submission Time</th>
        <th>Submission Repository</th>
        <th>View Submission</th>
    </tr>
    {% for sub in submissions %}
    <tr>
        <td>{{ sub.submission_date }} </td>
        <td>{{ sub.submission_repository }}</td>
        <td>
            <form action="{% url 'submission' sub.submission_uuid %}">
                <input type="submit" value="View Submission">
            </form>
        </td>
    </tr>
    {% endfor %}
  {% endif %}
</div>

<!-- Submission to review -->
<div>
{% if canReview and submissionsToReview %}
    <h3> Reviews per student: {{asmt.reviews_per_student}} reviews. </h3>
    <h3> You have been assigned to do {{actualNumReviews }} reviews. </h3>
    <h3> You have {{numRemaining}} reviews left to complete. </h3>
    <h3> Submissions you have been assigned to review: </h3>
    
    <table>
    <tr>
        <th>Submission number</th>
        <th></th>
        <th>Number of annotations completed</th>
    </tr>
    {% for submission, numAnnotations in submissionsToReview.items %}
    <tr>
        <td>{{submission.submission_uuid}}</td>
        <td><a href="{% url 'submission' submission.submission_uuid %}">
            <button>Review this submission</button>
        </a>
        </td>
        <td>Completed {{numAnnotations}} annotations of {{asmt.min_annotations}}</td>
    </tr>
    
    {% endfor %}
    </table>
{% endif %}
</div>
{% endblock %}
