<!-- Template for submitting assignments -->
{% extends 'navbar.html' %}
<div id="assignReviews">
  {% block main %}

  <!-- This page can only be called if an assignment exists, obviously -->
  <h1>Assign Reviews for {{ asmt.name }}</h1>

  <form id="assign_reviews" method="post" action="">
    {% csrf_token %}
    {{ course.code_code }}

    {% if errors %}
      <h3>Something Wrong:</h3>
      <h4>{{ errors }}</h4>
    {% endif %}
    
    <div class="panel panel-default" id="formFields">
      <div class="panel-body" id="formFieldsPanelBody">
        <h4>No. of submissions you want each student to review</h4>
        {{ form.reviews_per_student }}
        <h4>Min. number of annotations a student must make per submission.</h4>
        {{ form.min_annotations }}
        <br />
        <input class="btn btn-default" type="submit" value="Assign Reviews" id="submit">
      </div>
    </div>

    <br />
    

    {% if errMsg %}
      <h3> ERROR! </h3>
      {{ errMsg }}
    {% endif %}
  </form>
</div>
{% endblock %}
