{% extends 'sidebar.html' %}
<div id="assignmentView">
  {% block assignments %}

  <!-- This page can only be called if an assignment exists, obviously -->
  <h1>{{ asmt.name }}</h1>

  {% if user.is_superuser %}
  <!-- Add stuff to allow superuser to edit assignment -->

  {% endif%}

  {% if user.is_superuser %}
  <h2>Settings</h2>
  {% endif %}

  <p><b>Submission Status: </b> I dont Know How To Do This</p> 
  <p><b>Assignment due at: </b> {{ asmt.submission_close_date }}</p> 
  <p><b>Review opens at: </b> {{ asmt.review_open_date }}</p> 
  <p><b>Review closes at: </b> {{ asmt.review_close_date }}</p> 

  {% if canSubmit %}
  <form action="submit/">
    <input type="submit" value="Submit Assignment">
  </form>
  {% else %}
  Submissions are closed now <br>
  {% endif %}

</div>
{% endblock %}
