{% extends 'base.djhtml' %}

{% block content %}

{% if user.is_superuser %}
<p>Congrats, you have admin priviledges</p>
<a href="/admin">Sudo</a>
<a href="/review/course_admin">Course Admin Page</a>
{% endif%}


{% if courses %}
<ul id="courseList">
  {% for course in courses %}
  <li><a href="{% url 'adminRedirect' course.course_code %}">{{ course }}</a></li>
  {% endfor %}
</ul>

{% else %}
<p>No courses</p>
{% endif%}

<div id="assignmentList">
  {% block assignments %}
  {% endblock %}
</div>

{% endblock %}
