{% extends 'navbar.html' %}

{% block main %}
<br />
<h1>Assignments for {{ course.course_code }} </h1>
<br />

{% if user.is_superuser %}
<div class="row">
	<div class="col-md-3">
		<div class="btn-group">
			<a class="btn btn-success" href="{% url 'create_assignment' course.course_code %}"><span class="glyphicon glyphicon-pencil"></span> New assignment</a>
			<a class="btn btn-default" href="#"><span class=" glyphicon glyphicon-wrench"></span> Settings</a>
		</div>
	</div>
	<div class="col-md-9"></div>
</div>
{% endif%}

<br />

{% if assignments %}
  <div id="courseAssignments">
  <table class="table table-bordered table-hover">
    <thead>
    	<tr>
      		<th>Assignment Name:</th>
      		<th>Submission Status:</th>
      		<th>Due Date:</th>
      		<th>View:</th>
    	</tr>
    </thead>
    {% for assignment in assignments %}

    <tr>
      <td><p>{{ assignment.name}}</p></td>
      <td><p><span class="label label-default">Need to add check for submission status</span></p></td>
      <td><p>{{ assignment.submission_close_date }}</p></td>
      <td>
        <form action="{% url 'assignment_page' course.course_code assignment.name %}">
          <input class="btn btn-primary" type="submit" value="View Assignment">
        </form>
      </td>

    </tr>
    {% endfor %}
	</table>
    {% else %}
    <p><strong>No assignments</strong></p>
    {% endif%}
  </div>


  {% endblock %}
