{% extends 'navbar.html' %}

{% block main %}
<br />
<h1>Assignments for {{ course.course_code }} </h1>
<br />

{% if user.is_superuser %}
<div class="row">
	<div class="col-md-4">
		<div class="btn-group">
			<a class="btn btn-success" href="{% url 'create_assignment' course.course_code %}"><span class="glyphicon glyphicon-pencil"></span> New assignment</a>
      <a class="btn btn-primary" href="{% url 'help' course.course_code %}"><span class="glyphicon glyphicon-question-sign"></span> Get help</a>
      <a class="btn btn-default" href="#"><span class=" glyphicon glyphicon-wrench"></span> Settings</a>

		</div>
	</div>
	<div class="col-md-8"></div>
</div>
{% endif %}

{% if tutor %}
Tutor Dawg
{% endif%}


<br />

{% if assignments %}
  <div id="courseAssignments">
  <table class="table table-bordered table-hover">
    <thead>
    	<tr>
      		<th>Assignment Name:</th>
      		<th>Submission Status:</th>
      		<th>Due Date:</th>
      		<th>View:</th>
    	</tr>
    </thead>
    {% for assignment in assignments %}
    

   <tr>
      <td>{{ assignment.0.name}}</td>
      <td><p>{{ assignment.name}}</p></td>
      <td><p>{{ assignment.submission_close_date }}</p></td>
      <td>
        {% if assignment.1 %}
            Submited!
        {% else %}
            Not yet submitted.
        {% endif %}
      </td>
      <td>{{ assignment.0.submission_close_date }}</td>
      <td>
        <a href="{{assignment.0.name}}/">
          <input class="btn btn-primary" type="submit" value="View Assignment">
        </a>
      </td>
    </tr>
    {% endfor %}
	</table>
    {% else %}
    <h2>No assignments</h2>
    <br />
    {% endif%}
  </div>


  {% endblock %}
