<!-- Template for viewing and creation annotations on source code -->
{% extends 'navbar.html' %}

<!-- Load obfuscation library -->
{% load unfriendly_tags %}
{% block main %}

<script>
  $(document).ready(function() {
    annotationHighlight();

   $(".click").click(function() {
     p = parseInt( $(this).text());
     console.log(p);
     $("input[name*='start']").val(p); 
   });
 });
</script>
<div id="reviewFiles">
  <h5>Files: Root/ </h5>
  <ul>
    {% for file in files %}
      {% if file.folder_uuid %}
        <li><p class="reviewFolder" data-folder="{{ file.file_uuid }}">{{ file.name }}/</li>
      {% endif%}

      {% if file.file_uuid %}
        {% url 'review_file' sub file.file_uuid as fileurl %}
        <li><a href="{{ fileurl | obfuscate}}">{{ file.name }}</a></li>
      {% endif%}
    {% endfor %}
  </ul>

</div>
<div id="reviewFileName">
	<h5> Currently displaying: {{ file.name }}</h5>
	</div>
</div>

<div id="reviewPane">
  <div id="reviewCode">
    <!-- render the source file in the html -->
    {% if code %}
    {{ code | safe}} 
    {% endif%}
  </div>

<div id="reviewAnnotation">
  <!-- display all the current annotations -->
  {% for annote, range in annotations %}
  <h5>Line: {{ range.start }}</h5>
  <p>Comment: {{ annote.text }}</p>
  
  {% if annote.user == user.reviewuser or user.reviewuser.isStaff %}
      <a class="btn btn-info" href="">Edit</a>
      <a class="btn btn-danger" href="{% url 'delete_annotation' submissionUuid=sub fileUuid=file.file_uuid annoteId=annote.id %}">Delete</a>
  {% endif%}

  {% endfor %}
{% url 'create_annotation' sub uuid as annotateUrl %}
  <!-- Obfucations doesn't work on get -->
  <!-- <form id="annotationForm" action="{{ annotateUrl | obfuscate }}"> -->
  <!-- display forms for annotation creation if a file is selected -->
  <form id="annotationForm" action="/review/annotation/create/{{ sub }}/{{ uuid }}">
    {{ rangeform.as_ul }}
    {{ form.as_ul }}
    <input type="Submit" name="submit" value="Submit" />
    </form>
   
  </div>
</div>


<div id='startLine'>
  {% for annote, range in annotations %}
  <ul>{{ range.start }}</ul>
  {% endfor %}
</div>
{% endblock %}
