{% extends 'sidebar.html' %}

{% block assignments %}
<script>
  $(document).ready(function() {
    annotationHighlight();
    });
</script>
<div id="files">
  <ul>
    <h4>Files</h4>
    <p>Root</p>
    {% for file in files %}

    {% if file.folder_uuid %}
    <li><p class="reviewFolder" data-folder="{{ file.file_uuid }}">{{ file.name }}</li>
      {% endif%}

      {% if file.file_uuid %}
      <!-- <li><button class="reviewFile" data-fileUuid="{{ file.file_uuid }}" href="/review/reviews/{{ sub }}/{{ file.file_uuid }}/">{{ file.name }}</button></li> -->
      <li><a href="/review/file/{{ sub }}/{{ file.file_uuid }}"/>{{ file.name }}</a></li>
	
	{% endif%}

	{% endfor %}
  </ul>

</div>

<h4 id="fileName"> Currently displaying </h4>
<div id="code">
  {% if code %}
  {{ code | safe}}
  {% endif%}

  <!-- START Temporary test stuff -->

  <!-- END Temporary test stuff -->
</div>

<div id="annotation">
  <ul id="annotations">
    
    {% for annote, range in annotations %}
    <p>
      Lines: {{ range.start }} - {{ range.end }}
    </p>
    <p>{{ annote.text }}</p>
    {% endfor %}
  </ul>
  <form id="annotationForm" action="/review/annotation/create/{{ sub }}/{{ uuid }}">
    {{ rangeform.as_ul }}
    {{ form.as_ul }}
    <input type="Submit" name="submit" value="Submit" />
  </form>
</div>

<div id='startLine'>
  {% for annote, range in annotations %}
  <ul>{{ range.start }}</ul>
  {% endfor %}
</div>
{% endblock %}
