{% extends 'course_page.html' %}

{% block sources %}

<h1>Sources</h1>

{% if folder %}
<ul>
  	<table>
  		<tr>
  			<td>Folder: </td>
  			<td>File ID: </td>
  			<td>Name: </td>
  			<td>File Path: </td>
  		</tr>
  		
  		{% for files in folder %}
  		<tr>
  			<td>{{ files.folder }}</td>
  			<td>{{ files.file_uuid }}</td>
  			<td><a href="{% url 'submit' files.file_uuid %}">{{ files.name }}</a></td>
  			<td>{{ files.file }}</td>
  		</tr>  
  		{% endfor %}
  	</table>
</ul>

{% else %}
<p><strong>No Source Folders</strong></p>
{% endif%}


{% endblock %}
