<!-- This is the main landing page for students and staff memebers,
it will show them all upcoming assignments and allow them to navigate to the submission page -->
{% extends 'navbar.html' %}

{% block main %}
	<br />
	<h1>Upcoming assignments</h1>
	<br />
	{% if open_assignments %}
	    <table cellpadding="10" class="table table-bordered table-hover">
		    <thead>
				<th> Course </th>
				<th> Assignment Name </th>
				<th> Submission Open </th>
				<th> Submission Close </th>
		        <th> Submission Status </th>
		    </thead>
		    <!-- grab all upcoming assignments and display them in a table -->
	    	{% for course, asmtList in open_assignments.items %}
                {% for asmt in asmtList %}
                <tbody>
          			<tr>
			          	<td><p>{{ course.course_code }}</p></td>
					    <td><p>{{ asmt.0.name }}</p></td>
					    <td><p>{{ asmt.0.submission_open_date }}</p></td>
					    <td><p>{{ asmt.0.submission_close_date }}</p></td>			
	          			<td><p>
	          				{% if asmt.1 %}
		                        <span class="text-success"><b>Submitted</b></span>
	                        {% else %}
	                            <span class="text-danger"><b>Not Submitted</b></span>
	                        {% endif %}
	                        </p>
	                    </td>
	                    <td>
	                        <form action="{% url 'assignment_page' course.course_code asmt.0.name %}">
	                            <input class="btn btn-default btn-block" type="submit" value="View assignment page">
	                        </form>
                    	</td>
                    	<!-- REMOVED due to feedback
                    	<a class="btn btn-danger btn-block" href="/review/course/{{course.course_code}}/{{asmt.0.name}}/submit/">Submit Assignment</a> -->
          			</tr>
                </tbody>
                {% endfor %}
            {% endfor %}
            </table>
	{% else %}
	    <h2>No upcoming assignments</h2>
	{% endif %}

{% endblock %}
