{% extends 'navbar.html' %}

{% block main %}
    <div id="assignmentList" class="col-md-8">
	<h1>Upcoming assignments</h1>
	{% if open_assignments %}
	    <table cellpadding="10">
	    <tr>
		<th> Course </th>
		<th> Assignment Name </th>
		<th> Submissions Open: </th>
		<th> Submissions Close: </th>
	    </tr>
	    {% for asmt in open_assignments %}
		<tr> 
		    <td>{{ asmt.0.course_code }}</td>
		    <td>{{ asmt.1.name }}</td>
		    <td>{{ asmt.1.submission_open_date }}</td>
		    <td>{{ asmt.1.submission_close_date }}</td>
                    <td>
                        <form action="{% url 'assignment_page' asmt.0.course_code asmt.1.name %}">
                            <input type="submit" value="Go to assignment page">
                        </form>
                    </td>
                    <td> <a href="course/{{asmt.0.course_code}}/{{asmt.1.name}}/submit/">
                            Submit Assignment
                        </a>
                    </td>
		</tr>
	    {% endfor %}
	    </table>
	{% else %}
	    <h2>No upcoming assignments</h2>
	{% endif %}
    </div>

{% endblock %}
