#adminList {
  margin-bottom: 20px;
}
#adminList li {
  display: inline;
}

/*Assignment List on Default Landing Page*/
#assignmentList {


}

/* Assingment Submission page */
#assignmentSubmit {




}

/* The table for viewing a specific 
 course Assignments */
#courseAssignments {



}

#files > ul li {
  list-style: none;
}

/*Code for highlighting specific lines on review/annotations*/
.highlight {
  background-color: yellow;

}

#startLine {
  visibility: hidden;
}














