#adminList {
  margin-bottom: 20px;
}
#adminList li {
  display: inline;
}

/* settings div on an assignment page */
#assignmentAdmin {
	display: block;
	float: right;
	background-color:red;
}

/*Assignment creation forms on assignment creation Page*/
#assignmentCreation {
	padding: 40px;
}

/*Assignment creation forms on assignment creation Page*/
#assignmentCreation ul {
}

/*Assignment List on Default Landing Page*/
#assignmentList {
	padding-top: 40px;
	width: 100%;
	background-color: #4B5882;
	background-repeat: repeat-x;
}

#assignmentList h1, #assignmentList h2{
	color: white;
}

/* the entire table of assignments details */
#assignmentList table {
	width:100%;
	background-color: #EEEEEE;
}

/* cells within the table of assignment details */
/*#assignmentList td {
	padding-top: 5px;
	border-style:solid;
}*/

/* title of a SINGLE ASSIGNMENTS details */
#assignmentList b {
	padding-top: 5px;
}

/*  a SINGLE ASSIGNMENTS details */
#assignmentList p {
	padding-top: 5px;
}

/* Assingment Submission page */
#assignmentSubmit {
}

/* Assingment page table div */
#assignmentView {
  	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

/* global background */
body {
	background-color: black;
  
	
	
}



.highlightTable {
  background-color: red;
  width:512px;
}

/* The title on course Assignments page */
#courseAssignments h1 {
	display:inline;
	float:left;
}


#files > ul li {
  list-style: none;
}

/*Code for highlighting specific lines on review/annotations*/
.highlight {
  background-color: yellow;
}


/* ------------------------------------------ template - login.html -------------------------------------------------- */

.loginForm{
	margin-left: 5px;
	margin-right: 5px;
}

.loginForm h1, .loginForm h2{
	color: white;
}

.loginForm h4{
	color: gray;
}

/* ------------------------------------------ template - student_homepage.html ----------------------------------------- */
.middle{
	vertical-align: middle;
}


/*The line numbers on the review page */
.lineno {
	background-color: #e5e5e5;
	
	
}


/*The line numbers on the review page */
.click{
	
}


/*The Navigation bar on every page */
#sidebarBody {
  padding-top:0px;
}
#startLine {
  visibility: hidden;
}

/* annotation pane div on review page */
#reviewAnnotation {
  width: 40%;
  height:100%;
  float:right;
  padding-bottom:10px;
  
}

/* annotation text box on review page */
#reviewAnnotation p {
  width: 100%;
  background-color: white; 
}

/* annotation line number on review page */
#reviewAnnotation h5 {
  
  background-color: white; 
}

#annotationFormDiv {
	display:inline:block;
	float:left;
	width:100%;
	background-color:f5f5f5;
	
}

#annotationForm textarea {
	width:87%;
	float:left;
}

#annotationForm input[type=submit] {
	width:13%;
	float:right;
	position: relative;
	top: 60px;	
}



/* code pane div on review page */
#reviewCode {
  width: 60%;
  height: 100%;
  display:inline-block;
   
  
}

/* div on review page that contains the file browser  */
#reviewFiles {
	float:left;
	background-color:#f5f5f5;
	width: 100%;
	
	margin-top: 0px;
	
	
	
}

#reviewFiles h5 {
	
	
	float: left;
	
}

#reviewFiles p{
	
	
	display:inline;
	
}

#reviewFiles a {
	padding-right:5px;
	
}

#reviewFiles li {
	position: relative;
	top:10px;
	
	display:inline-block;
	
}

#reviewFiles ul {
	
    list-style-type:none;
    display:inline-block;
    
   
}

#reviewFiles a.current {
	
}

#reviewFileName h5{
	visibility:hidden;
	
	
	
	
}

/* pane div on review page contianing both the code pane and the annotation pane */
#reviewPane {
	background-color: #e5e5e5;
	width:1280px;
	overflow-y:auto;
	height:100%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	
     
	

}



/*********/
/* POSTS */
/*********/

#help {
  padding-top: 40px;
}


#wrapper {
	margin-left: auto;
	margin-right: auto;
	width:1280px;
	
	overflow-y:hidden;
}






